body {
    font-family: 'Comic Sans MS', sans-serif;
    color: #FFFFFF; 
    background-color: #000080; 
    background-image: url('cube.png'); 
    background-repeat: repeat; 
    
    
    cursor: url('icons8-select-cursor-32.png'), auto; 
    
    margin: 0;
    padding: 0;
    
    text-align: center; 
}

h1 {
    color: #FFFF00; 
    font-size: 3em;
}

h2 {
    color: #00FF00; 
    font-size: 2em;
}

p, li {
    font-size: 1.1em;
}


a {
    color: #FF00FF; 
    text-decoration: none;
    padding: 5px 10px;
    border-bottom: 2px dashed #FF00FF;
}


em {
    color: #00FFFF; 
    font-style: italic;
}

strong {
    color: #FF0000; 
    font-weight: bold;
}



.page-header, .content-box, .nav-menu, .footer-block {
    width: 80%; 
    margin: 20px auto; 
    padding: 20px;
    border: 5px double #FF0000; 
    background-color: rgba(0, 0, 0, 0.85); 
    box-shadow: 10px 10px 0px 5px #00FF00;
}

table {
    width: 70%;
    border-collapse: collapse;
    margin: 15px auto;
    border: 3px solid #00FFFF;
}

th, td {
    border: 1px solid #FF0000;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #551A8B;
    color: #FFFF00;
}

.section-image {
    max-width: 150px;
    border: 3px solid #FFFF00;
    padding: 5px;
    margin: 10px;
}
.inline-gif {
    margin: 5px 15px;
    border: 2px dashed #FF0000;
}